.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    margin-top: 50px;
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.consoleOutput {
    background-color: #eee;
    font-family: monospace;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #ddd;
    height: 200px;
    overflow-y: auto;
    margin: 5px 5px 100px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body main {
    width: 100%;
}

footer {
    width: 100%;
    margin-top: auto;
}