<!DOCTYPE html>
<html lang="en">
<head>
  <title>File Simulation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/websocket.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/random-simulation">Random Simulation</a></li>
        <li class="active"><a href="/file-simulation">File Simulation</a></li>
      </ul>
    </div>
  </div>
</nav>

<main class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 col-sm-offset-2 text-left">
      <h1>File Simulation</h1>
      <p>Upload a simulation file here. (check the homepage for an example file)</p>
      <form th:action="@{/file-simulation/simulate}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file">File:</label>
          <input type="file" class="form-control" id="file" name="file" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload and execute</button>
      </form>
      <hr>
      <h3>Console</h3>
      <p>Here you can see the result of the simulation.</p>
      <div class="consoleOutput form-control" id="consoleOutput"></div>
    </div>
  </div>
</main>

<footer class="container-fluid text-center">
  <p>Maxim Derboven & Jonas Leijzen</p>
  <p>Project SA * Velo Simulator</p>
</footer>

</body>
</html>