<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simulator Random</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/websocket.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/random-simulation">Genereer x Random</a></li>
                <li><a href="/file-simulation">Genereer x Generator</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 col-sm-offset-2 text-left">
            <h1>Simulator Velo x Random</h1>
            <p>Upload a config file here.</p>
            <form th:action="@{/random-simulation/updatesettings/file}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">File:</label>
                    <input type="file" class="form-control" id="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-default">Haal settings op</button>
            </form>
            <hr>
            <h2>Settings</h2>
            <p>Here you can see the settings of the config file.</p>
            <form th:object="${simSettings}"
                  th:action="@{/random-simulation/updatesettings/values}"
                  method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ipTimeperiod">Tijdsperiode van generatie in seconden</label>
                        <input th:field="*{seconds}" type="number" class="form-control" id="ipTimeperiod"
                               min="0" max="3600">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ipAantalUsers">Aantal users die in dezelfde periode rides uitvoeren</label>
                        <input th:field="*{concurrentRides}" type="number" class="form-control" id="ipAantalUsers"
                               min="0" max="1000">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ">
                        <label for="ipMessageDelay">Gemiddeld delay tussen de berichten</label>
                        <input th:field="*{delayDuration}" type="number" class="form-control" id="ipMessageDelay"
                               min="0" max="10000">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ipDelayVariation">Grootte van random variatie op dit delay</label>
                        <input th:field="*{delayVariation}" type="number" class="form-control" id="ipDelayVariation"
                               min="0" max="5000">
                    </div>
                </div>
                <label>latitude range (random generatie binnen deze grenzen)</label>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ipLatitudeRangeStart">min</label>
                        <input th:field="*{minLatitude}" type="number" class="form-control" id="ipLatitudeRangeStart"
                               min="-90" max="90" step="0.01">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ipLatitudeRangeEnd">max</label>
                        <input th:field="*{maxLatitude}" type="number" class="form-control" id="ipLatitudeRangeEnd"
                               min="-90" max="90" step="0.01">
                    </div>
                </div>
                <label>longitude range (random generatie binnen deze grenzen)</label>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ipLongitudeRangeStart">min</label>
                        <input th:field="*{minLongitude}" type="number" class="form-control" id="ipLongitudeRangeStart"
                               min="-180" max="180" step="0.01">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ipLongitudeRangeEnd">max</label>
                        <input th:field="*{maxLongitude}" type="number" class="form-control" id="ipLongitudeRangeEnd"
                               min="-180" max="180" step="0.01">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Apply & Run</button>
            </form>
            <hr>
            <h3>Console</h3>
            <p>Here you can see the result of the simulation.</p>
            <div class="consoleOutput form-control" id="consoleOutput"></div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Maxim Derboven & Jonas Leijzen</p>
    <p>Project SA * Velo Simulator</p>
</footer>

</body>
</html>